header{
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: 0.5s;
}

header.black{
    background-color: #111;
}

.logo{
    height: 25px;
}

.logo img{
    height: 100%;
}

.logo a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

nav ul li{
    display: inline-flex;
    margin-right: 10px;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li:hover{
    background-color: rgba(17, 17, 17, 0.315);
}

.menuIcon{
    width: 28px;
    margin-left: 20px;
    display: none;
    cursor: pointer;
}


@media (max-width: 700px){

    .menuIcon{
        display: block;
    }
    header{
        height: 70px;
        padding: 0;
        justify-content: center;
    }
    .logo{
        z-index: 9999;
    }

    nav ul{
        position: absolute;
        left: 0;
        background-color: #111;
        width: 100%;
        text-align: center;
        top: 54px;
        visibility: hidden;
    }

    nav ul li{
        display: block;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    nav ul li a{
         color: #fff;
    }
}